---
---
<a href="/">App</a>
<a href="/about/">Other projects</a>
<a href="/blog/">Contact me</a>

<style>
  a {
    color: #FFD1E3;
    text-decoration: none;
    margin-right: 5rem;
    font-size: 1.5rem;
  }
  a:hover {
      color: #A367B1;
    }
 
    @media only screen and (max-width: 600px) {
        a {
            margin-right: 1rem;
            font-size: 1rem;
        }
        }
</style>
