---
import Check from '../components/Check.astro';
import List from '../components/List.astro';

---

<div>
  <!-- <Check />
   -->
  <h2> To do List <List /></h2> 
  <div class="row">
    
    </div> 
  
</div>

<style>
  div{
    width: 100%;
    max-width: 540px;
    background: #A367B1;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
    }
    h2{
        color: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 20px;        
        }
    
</style>
